
.statSegment {
   align-content: flex-start;
   height: auto;
   margin-bottom: 35px;
}

.segContainer,
.segContainer ul {
   height: auto;
   max-height: 400px;
   transition-duration: 0.5s;
}

.segContainer {
   overflow: hidden;
}

.segContainer ul {
   position: relative;
   top: 0;
}

.segContainer li {
   position: relative;
   height: 75px;
   width: 100%;
}

.hideStatPlate {
   top: -400px;
}

.hideStatSeg {
   max-height: 0px;
}